/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    background-color: #FAFAFA;
    padding: 20px;
}
nav {
    width: 40%;
    margin: 0 auto;
}

ul {
    padding: 0;
}

li {
    width: 20%;
    margin: 0 auto;
    display: inline-block;
}

img {
    border-radius: 3px;
}

a:visited {
    color: black;
}
h1{
    text-align: center;

}
h1 a {
    text-decoration: none;
}

h3 {
    margin: 0;
}
.logo {
    /*background-image: url("../images/logo.png");*/
    position: fixed;
    left: 30%;
    height: 300px;
    width: 40%;
    margin: 0 auto;
    z-index: 0;

}

.feed {
    position: relative;
    z-index: 1;
    width: 80%;
    margin: 300px 0 0 0;
    background-color: #FAFAFA;
    padding-bottom: 10px;
}
.post {
    width: 90%;
    margin: 0 auto 10px auto;
    border-bottom: 3px dotted gray;
    padding: 10px;
}

.blog-index {
    font-family: 'Open Sans Condensed', sans-serif;
}

.blog-photo {
    height: auto;
    width: 100%;
    margin: 0 auto;
}

.headline {
    font-family: Georgia;
}

.title {
    font-size: 2em;
    font-family: Georgia;
}

.full-text {
    padding-bottom: 20px;
    border-bottom: 5px dotted grey;

}

.show-container{
    position: relative;
    z-index: 1;
    width: 95%;
    margin: 300px 0 0 0;
    background-color: #FAFAFA;
    padding-bottom: 10px;
}
.blog-text {
    font-family: 'Open Sans Condensed', sans-serif;
}
.comment {
    font-family: 'Open Sans Condensed', sans-serif;

    margin-left: 10px;
    border-bottom: 1px solid grey;
}
.comment-details {
    margin-left: 10px;
    font-size: .75em;

}

footer {
    position: relative;
    z-index: 1;
    background-color: #FAFAFA;
    padding-top: 30px;
}


.footer-text {
    width: 87%;
    text-align: center;
    font-size: .75em;
    font-style: italic;
}

.actions {
    margin: 15px 0;
}
